* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: Arial, sans-serif;
}
a {
    text-decoration: none;
}

.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    background-color: #2c3e50;
    padding: 1rem 2rem;
    color: white;
}
.logo a {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}


.main-menu {
    display: flex; 
    list-style: none;
}
.main-menu a {
    display: block; 
    padding: 10px 15px;
    color: #ecf0f1;
}
.main-menu a:hover {
    background-color: #3498db;
}

